/*Fonts*/

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

/*Variables*/

:root {
    --ffr: "Montserrat-Regular", sans-serif;
    --ffb: "Montserrat-Bold", sans-serif;
    --ffl: "Montserrat-Light", sans-serif;
}

/*Container*/

.container {
   width: 1160px;
    margin: 0 auto;
}

/*Header*/

.header {
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-attachment: fixed;
    text-align: center;
    width: 100%;
    height: 1012px;
    background-size: cover;
}

.header-top {
    display: flex;
    align-items: center;
    background: rgba(95, 93,89, 0.5);
    height: 120px;
}

.header .container {
    display: flex;
    position: relative;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.menu-list li {
    height: 100%;
    line-height: 120px;
}

.menu-list a {
    display: block;
    text-decoration: none;
    color: #fff;
    height: 100%;
    font-family: var(--ffb);
    font-size: 13px;
    text-transform: uppercase;
}

.menu-list a:hover {
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 58px;
    height: 33.49px;
    background-color: #18cfab;
    margin: 16.74px 5px 16.74px 0;
}

#h {
    color: #fff;
    font-size: 35px;
    font-family: var(--ffb);
    text-transform: uppercase;
}

.logo:before,
.logo:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
}

.logo:before {
    bottom: 100%;
    border-bottom: 16.74px solid #18cfab;
}

.logo:after {
    top: 100%;
    width: 0;
    left: 0;
    border-top: 16.74px solid #18cfab;
}

.logo-container span {
    font-size: 30px;
}

.logo-container span:first-of-type {
    color: #fff;
    font-family: var(--ffr);
}

.logo-container span:last-of-type {
    color: #18CFAB;
    font-family: var(--ffb);
}

.header-text {
    display: inline-block;
    margin: 244px 0 141px 0;
}

.header-text p:nth-child(1) {
    text-transform: uppercase;
    color: #fff;
    font-size: 35px;
    font-family: var(--ffb);
    margin-bottom: 45px;
}

.header-text span {
    color: #18CFAB;
}

.header-text p:nth-child(2) {
    color: #fff;
    font-family: var(--ffb);
    text-transform: uppercase;
    font-size: 69px;
    margin-bottom: 36px;
}

.header-text p:nth-child(3) {
    color: #D4D4D4;
    opacity: .6;
    font-size: 30px;
    font-family: var(--ffl);
}
.explore-btn {
    background: #18CFAB;
}

.purchase-btn {
    background: #00CBF6;
}

.explore-btn, .purchase-btn {
    width: 167px;
    height: 62px;
    color: #fff;
    border: none;
    outline: none;
    border-top: 4px solid #fff;
    border-radius: 4px;
    text-transform: uppercase;
    margin: 0 14px;
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;
}

/*Four options section*/

.four-options {
    display: flex;
}

.four-options div {
    width: 25%;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 67px;
}

.option1,.option3 {
    background: #1C2A33;
    border-top: 8px solid #18CFAB;
}

.option2,.option4 {
    background: #18CFAB;
    border-top: 8px solid #fff;
}

.img-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 48px;
}

.option1 p:nth-child(2),.option3 p:nth-child(2) {
    text-transform: uppercase;
    color: #18CFAB;
    font-family: var(--ffb);
    font-size: 20px;
}

.option2 p:nth-child(2),.option4 p:nth-child(2) {
    text-transform: uppercase;
    color: #fff;
    font-family: var(--ffb);
    font-size: 20px;
}

/*Services section*/

h2 {
    text-align: center;
    font-family: var(--ffr);
    font-size: 36px;
}

#header-services {
    margin-top: 81px;
}

.separator {
    margin-top: 36px;
}
.separator::before, .separator::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 77px;
    height: 2px;
    background: #18CFAB;
}

.separator::before {
    margin-bottom: 3px;
    transform: translateX(-7px);
}

.separator::after {
    transform: translateX(7px);
}

.menu-services {
    display: flex;
    margin-top: 70px;
}

.services-item {
    width: 100%;
    text-align: center;
    font-family: var(--ffr);
    height: 73px;
    line-height: 73px;
    background: #F8FCFE;
    border: 1px solid #EBECEC;
    color: #838484;
    cursor: pointer;
}

.services-show {
    display: none;
}

.services-show-active{
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.services-img {
    width: 16.75%;
}

.services-text {
    color: #777777;
    line-height: 24px;
    text-align: justify;
    margin-left: 24px;
    font-size: 14px;
    font-family: var(--ffl);
}

.services-item-active {
    background: #18CFAB;
    border: 1px solid #18CFAB;
    position: relative;
    color: white;
}

.services-item-active::after {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 14px;
    left: 48%;
    transform: rotate(45deg) translateX(-50%);
    background-color: #18CFAB;
    bottom: -13px;
}

/*Purchase section*/

.purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 99px;
    height: 476px;
    background: url("../img/Sections background/section-2.jpg") center no-repeat;
}

.substrate {
    position: relative;
}

.substrate > * {
    position: relative;
    z-index: 1;
}

.substrate::after {
    content: "";
    display: block;
    position: absolute;
    background: black;
    opacity: 0.7;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.purchase-paragraph1 {
    font-size: 40px;
    font-family: var(--ffb);
    color: #18CFAB;
    text-transform: uppercase;
}

.purchase-paragraph2 {
    margin-top: 35px;
    color: #D8D8D8;
    font-family: var(--ffr);
}

#sub-btn {
    margin-top: 75px;
    align-self: center;
}

/*Amazing work section*/

.amazing-work {
    padding-top: 96px;
    background-color: #F8FCFE;
    border-bottom: 2px solid #E1E1E1;
}

#header-news {
    margin-top: 96px;
}

.work-categories {
    margin-top: 67px;
}

.work-menu {
    display: flex;
    justify-content: center;
}

.work-link-active::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% + 3px);
    height: 3px;
    background: #18CFAB;
    top: -3px;
    left: -1px;
}

.work-link-active {
    color: #18CFAB;
}

.work-menu-link {
    position: relative;
    display: block;
    padding: 0 30px;
    height: 58px;
    line-height: 58px;
    font-family: var(--ffr);
    font-size: 14px;
    border: 1px solid #EBEBEB;
    color: #717171;
    text-decoration: none;
    box-sizing: border-box;
}

.work-portfolio {
    margin-top: 71px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.portfolio-item {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    display: block;
    width: 100%;
    height: 100%;
}

.invisible, .hidden {
    display: none;
}

.portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #F8FCFE;
    border-top: 4px solid #18CFAB;
    box-sizing: border-box;
}

.portfolio-item:hover .portfolio-hover {
    bottom: 0;
}

.hover-text1 {
    text-transform: uppercase;
    color: #18CFAB;
    font-family: var(--ffb);
    text-align: center;
    margin-bottom: 14px;
}

.hover-text2 {
    color: #8A8A8A;
    font-family: var(--ffl);
    text-align: center;
    font-size: 14px;
}

.hover-icons {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    margin-bottom: 34px;
}

.hover-icons i {
    border: 1px solid #18CFAB;
    border-radius: 50%;
    font-size: 18px;
    padding: 14px;
    color: #18CFAB;
    transition: 0.2s;
    margin: 0 2px;
    cursor: pointer;
}

.hover-icons i:hover {
    background: #18CFAB;
    color: #fff;
}

.load-more {
    display: block;
    margin: 69px auto 100px auto;
    background: #18CFAB;
    color: #fff;
    text-align: center;
    border: none;
    outline: none;
    padding: 0 22px;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: var(--ffb);
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    vertical-align: center;
}

.load-more span {
    font-size: 30px;
    vertical-align: bottom;
}

/*Breaking news section*/

.breaking-news a {
    text-decoration: none;
}

.breaking-news img {
    display: block;
    width: 100%;
}

.news-date {
    position: absolute;
    background: #203E38;
    font-family: var(--ffr);
    color: #fff;
    width: 69px;
    line-height: 24px;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    top: 0;
    right: 0;
}

.breaking-news a:hover .news-date {
    background: #18CFAB;
}

.news-info {
    background: #F8FCFE;
    padding: 14px 0 12px 15px;
    border: 1px solid #EBEBEB;
}

.news-text1 {
    color: #717171;
    margin-bottom: 14px;
    font-family: var(--ffb);
    font-size: 18px;
}

.news-text2 {
    color: #777777;
    font-family: var(--ffl);
    font-size: 14px;
}

.news-row1, .news-row2{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.news-row1 {
    margin-top: 70px;
}

.news-row2 {
    margin: 45px 0 100px 0;
}

.news-top {
    position: relative;
}

/*Feedback section*/

.feedback {
    background: url("../img/Sections background/section-3.jpg") center no-repeat;
    background-size: cover;
    height: 852px;
    padding-top: 100px;
}

.header-feedback {
    color: #fff;
    font-family: var(--ffr);
}

.slider {
    padding-bottom: 10px;
    overflow: hidden;
}

.feedback-slide-content {
    display: flex;
    transition: .5s;
}

.slide-item {
    min-width: 100%;
    text-align: center;
}

.quotes-icon {
    background: url("../img/icons/quote.png");
    margin: 68px auto 0 auto;
    width: 45px;
    height: 31px;
}

.slide-item-text {
    margin-top: 44px;
    font-family: var(--ffl);
    color: #BBBBBB;
    line-height: 24px;
}

.slide-item-name {
    margin-top: 40px;
    color: #18CFAB;
    font-family: var(--ffb);
    text-transform: uppercase;
}

.slide-item-position {
    margin-top: 14px;
    color: #BBBBBB;
    font-family: var(--ffl);
    margin-bottom: 36px;
}

.slide-item:nth-child(1) .slide-item-portrait {
    background-image: url(../img/feedback/portrait1.jpg);
}

.slide-item:nth-child(2) .slide-item-portrait {
    background-image: url(../img/feedback/portrait2.jpg);
}

.slide-item:nth-child(3) .slide-item-portrait {
    background-image: url(../img/feedback/portrait3.jpg);
}

.slide-item:nth-child(4) .slide-item-portrait {
    background-image: url(../img/feedback/portrait4.jpg);
}

.slide-item-portrait {
    width: 144px;
    height: 144px;
    background: center no-repeat;
    background-size: cover;
    border: 2px solid #18CFAB;
    border-radius: 50%;
    margin: 0 auto 50px;
    box-shadow: 0 0 0 10px rgba(12, 85, 71, 0.5);
}

.control-elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid #BBBBBB;
    margin: 0 13px;
    cursor: pointer;
}

.arrow:nth-of-type(1)::before {
    transform: translate(-20%, -50%) rotate(-135deg);
}

.arrow::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    top: 50%;
    left: 50%;
}

.portrait:nth-of-type(2) {
    background-image: url(../img/feedback/portrait1.jpg);
}

.portrait:nth-of-type(3) {
    background-image: url(../img/feedback/portrait2.jpg);
}

.portrait:nth-of-type(4) {
    background-image: url(../img/feedback/portrait3.jpg);
}

.portrait:nth-of-type(5) {
    background-image: url(../img/feedback/portrait4.jpg);
}

.portrait {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 20px;
    background-size: 125%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: 2px solid transparent;
    box-shadow: 0 0 0 4px rgba(12, 85, 71, 0.5);
}

.portrait-active {
    border: 2px solid #18CFAB;
    transform: translateY(-10px);
    transition: 1000ms;
}

.arrow:nth-of-type(6)::before {
    transform: translate(-80%, -50%) rotate(45deg);
}

.arrow:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.arrow:hover::before {
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.arrow::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-top: 1px solid #BBBBBB;
    border-right: 1px solid #BBBBBB;
    top: 50%;
    left: 50%;
}

/*Footer*/

.footer {
    background: #22353F;
    height: 109px;
    margin-bottom: 10px;
}

.footer-text {
    color: #A5A6A7;
    font-family: var(--ffl);
    text-align: center;
    line-height: 109px;
}

.footer-text a {
    text-decoration: none;
    color: #18CFAB;
}